<a href="https://colab.research.google.com/github/Rusell-Banta/DSA-58010/blob/main/Python_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1

In [5]:
import array
array.typecodes #get all typecodes
a = array.array('i', [1,2,3,4,5,6]) #initializing array a
b = array.array('f', [1.5, 2.5, 3.5, 4.5, 5.5, 6.5])#initializing array b
print (a.typecode)
print (b.typecode)

i
f

Example 2: Create/Convert the elements of array A to float/decimal number

In [27]:
a = array.array ('f',[1,2,3,4,5,6,7,8,9,10])  #initializing elements of array a
print (a)

array('f', [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0])

Example 3:

In [39]:
import array
a = array.array('i', [4,5,6,7])
a.insert (1,2)
print (a)
a.insert(-1,0)
print (a)
a.insert (6,8)
print (a)
a.insert (9,10)
print (a)

array('i', [4, 2, 5, 6, 7])
array('i', [4, 2, 5, 6, 0, 7])
array('i', [4, 2, 5, 6, 0, 7, 8])
array('i', [4, 2, 5, 6, 0, 7, 8, 10])

Example 4: Linked List

In [40]:
#function that creates node object

class Node:
  def __init__(self,data):
    self.data = data    # assign data
    self.next = None    # initialize as null

#function that creates Linked-list object

class LinkedList:
  def __init(self):
    self.head = None   #initialize head as null

  def printList(self):
    temp = self.head
    while(temp!=None):
      print(temp.data)
      temp = temp.next

list = LinkedList()    #empty list
list.head = Node(1)
second = Node(2)
third = Node(3)
fourth = Node(4)

list.head.next=second
second.next = third
third.next = fourth

list.printList()

1
2
3
4